<ul class="socials-list socials-list--center">
    {{ for social of socials.platform }}
    <li class="">
        <a href="{{ social.url }}" alt="{{ social.name }}">
        {{ if social.icon }}
            <i class="fa-brands fa-{{social.icon}} fs-700"></i>    
        {{ else }}
            {{ social.name }}
        {{ /if }}
        </a>
    </li>
    {{ /for }}
</ul>