@use "../abstracts" as *;

//
//
//

$button-foreground: var(--neutral-500);
$button-background: var(--neutral-100);

$button-background-hover: var(--neutral-200);

$button-font-family: var(--fg-base);
$button-font-size: var(--fs-300);
$button-font-weight: var(--fw-medium);

$button-padding: var(--size-xs) var(--size-m);
$button-border-radius: .25rem;


//
//
//
button {
    border: 0;
}

.button {
    --_foreground: var(--foreground, #{$button-foreground});
    --_background: var(--background, #{$button-background});

    --_background-hover: var(--background-hover, #{$button-background-hover});

    --_font-family: var(--font-family, #{$button-font-family});
    --_font-size: var(--font-size, #{$button-font-size});
    --_font-weight: var(--font-weight, #{$button-font-weight});

    --_padding: var(--padding, #{$button-padding});
    --_border-radius: var(--border-radius, #{$button-border-radius});

    --text-decoration: none;

    display: inline-flex;
    color: var(--_foreground);
    background: var(--_background);
    font-family: var(--_font-family);
    font-size: var(--_font-size);
    font-weight: var(--_font-weight);
    padding: var(--_padding);
    border-radius: var(--_border-radius);
    border: 1px solid transparent;
    cursor: pointer;
    transition: 300ms ease;

    &:is(:hover) {
        --foreground: var(--neutral-600);
        --background: var(--_background-hover);
    }
}


//
//
//

.button {
    &[data-type="primary"] {
        --foreground: var(--neutral-800);
        --background: var(--accent-400);

        &:is(:hover) {
            --foreground: var(--neutral-900);
            --background: var(--accent-300);
        }

        &:is(:active) {
            --foreground: var(--neutral-950);
            --background: var(--accent-500);
        }
    }
}



//
//
//

.button--outline {
    --foreground: white;
    --background: transparent;

    border-color: currentColor;

    &:is(:hover) {
        border-color: transparent;
    }
}