@use "../abstracts" as *;

//
//
//

$label-foreground: var(--neutral-500);
$label-font-family: var(--ff-base);
$label-font-size: var(--fs-400);
$label-font-weight: var(--fw-medium);

$input-foreground: var(--neutral-400);
$input-background: var(--neutral-50);
$input-font-size: var(--fs-400);
$input-font-weight: var(--fw-regular);
$input-padding: var(--size-2xs) var(--size-xs);
$input-border: 1px solid var(--neutral-300);
$input-border-radius: 3px;

$placeholder-foreground: var(--neutral-300);
$placeholder-font-family: var(--ff-base);
$placeholder-font-weight: var(--fw-regular);

//
//
//

form label {
    --_foreground: var(--foreground, #{$label-foreground});
    --_font-family: var(--font-family, #{$label-font-family});
    --_font-size: var(--font-size, #{$label-font-size});
    --_font-weight: var(--font-weight, #{$label-font-weight});

    color: var(--_foreground);
    font-family: var(--_font-family);
    font-size: var(--_font-size);
    font-weight: var(--_font-weight);
}



form input:not(.button),
form select,
form textarea {
    --_foreground: var(--foreground, #{$input-foreground});
    --_background: var(--background, #{$input-background});
    --_font-size: var(--font-size, #{$input-font-size});
    --_font-weight: var(--font-weight, #{$input-font-weight});
    --_padding: var(--padding, #{$input-padding});
    --_border: var(--border, #{$input-border});
    --_border-radius: var(--border-radius, #{$input-border-radius});

    color: var(--_foreground);
    background: var(--_background);
    font-size: var(--_font-size);
    font-weight: var(--_font-weight);
    padding: var(--_padding);
    border: var(--_border);
    border-radius: var(--_border-radius);
    width: 100%;

    &:is(:focus) {
        outline: 2px solid var(--accent-400);
    }
}

form textarea {
    min-width: 100%;
    max-width: 100%;
}


//
//
//

form ::placeholder {
    --_foreground: var(--foreground, #{$placeholder-foreground});
    --_font-family: var(--font-family, #{$placeholder-font-family});
    --_font-weight: var(--font-weight, #{$placeholder-font-weight});

    color: var(--_foreground);
    font-family: var(--_font-family);
    font-weight: var(--_font-weight);
}