@use "../abstracts" as *;

// -----------------------------------------------------------------------------
// 
// -----------------------------------------------------------------------------

$hamburger-foreground: var(--neutral-400);
$hamburger-background: transparent;

$hamburger-gap: 4px;
$hamburger-height: calc((var(--_bar-height) * 3) + (var(--_gap) * 2));
$hamburger-padding: var(--size-2xs) var(--size-xs);

$hamburger-animation-timing: 200 ease-in-out;

// Hamburger bar(s)
$hamburger-bar-color: var(--neutral-400);
$hamburger-bar-width: var(--size-m);
$hamburger-bar-height: 4px;

// -----------------------------------------------------------------------------
// 
// -----------------------------------------------------------------------------

.hamburger-menu {
    --_height: var(--height, #{$hamburger-height});
    --_padding: var(--padding, #{$hamburger-padding});
    --_gap: var(--gap, #{$hamburger-gap});
    --_x-width: calc(var(--_height) * 1.41421356237);

    --_bar-width: var(--bar-width, #{$hamburger-bar-width});
    --_bar-height: var(--bar-height, #{$hamburger-bar-height});
    --_bar-color: var(--bar-color, #{$hamburger-bar-color});
    --_animation-timing: var(--animation-timing, #{$hamburger-animation-timing});

    appearance: none;
    display: flex;
    flex-direction: column;
    gap: var(--_gap);
    width: max-content;
    padding: var(--_padding);
    border: 0;
    order: 2;
    outline: 0;
    background: var(--_background);
    cursor: pointer;

    @include mq(md) {
        display: none;
    }
}


.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: '';
    width: var(--_bar-width);
    height: var(--_bar-height);
    background: var(--_bar-color);
    transform-origin: left center;
    border-radius: 9999px;
    transition: opacity var(--_animation-timing), width var(--_animation-timing), rotate var(--_animation-timing), translate var(--_animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: 0;
}



// -----------------------------------------------------------------------------
// open
// -----------------------------------------------------------------------------

.hamburger-menu.open {
    &::before {
        rotate: 45deg;
        width: var(--_x-width);
        translate: 0 calc(var(--_bar-height) / -2);
    }

    input {
        opacity: 0;
        width: 0;
    }

    &::after {
        rotate: -45deg;
        width: var(--_x-width);
        translate: 0 calc(var(--_bar-height) / 2);
    }
}


.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
    border: 1px solid var(--_background);
    box-shadow: 0 0 0 1px var(--_foreground);
}