@use "../abstracts" as *;

//
//
//

$site-footer-padding-block: 3.3vmax;

//
//
//

.site-footer {
    --_padding-block: var(--padding-block, #{$site-footer-padding-block});
    
    padding: var(--_padding-block);
}


.site-footer .auto-grid {
    --placement: auto-fill;
    --min-col-size: clamp(16rem, 50dvw, 30rem);

    align-items: center;

    & > :nth-child(1) {
        text-align: center;

        @include mq(md) {
            text-align: start;
        }
    }

    & > :nth-child(2) {
        width: 100%;
        justify-content: center;

        @include mq(md) {
            justify-content: end;
        }
    }
}