@use "../abstracts" as *;

// -----------------------------------------------------------------------------
// Site-header
// -----------------------------------------------------------------------------

.site-header {
    --_foreground: var(--foreground, #{$site-header-foreground});
    --_background: var(--background, #{$site-header-background});
    --_padding: var(--padding, #{$site-header-padding});

    color: var(--_foreground);
    background: var(--_background);
    padding: var(--_padding);

    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}


.site-header.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
}