<section class="[ followus ] [ bg-accent-50 ] [ region ]">
    <div class="[ wrapper ] [ flow ] [ text--center ]">
        <h4 class="fs-600">Volg ons</h4>
        <ul class="socials-list socials-list--center">
            {{ comp.socialList() }}
        </ul>
    </div>
</section>