@use "../abstracts" as *;

// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

.card {
    --_card-background: var(--card-background, #{$card-background});
    --_card-foreground: var(--card-foreground, #{$card-foreground});
    --_card-padding: var(--card-padding, #{$card-padding});
    --_card-flow: var(--card-flow, #{$card-flow});
    --_card-border-radius: var(--card-border-radius, #{$card-border-radius});
    --_card-box-shadow: var(--card-box-shadow, #{$card-shadow});

    position: relative;
    color: var(--_card-foreground);
    background: var(--_card-background);
    display: flex;
    flex-direction: row;
    gap: var(--_card-flow);
    border-radius: var(--_card-border-radius);
    box-shadow: var(--_card-box-shadow);

    &__content {
        padding: var(--_card-padding);
    }

    &:hover {
        --card-box-shadow: #{$card-shadow-hover};
    }
}