@use "../abstracts" as *;

// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

.site-header {
    --_site-header-background: var(--site-header-background, #{site-header-background});
    --_site-header-padding-block: var(--site-header-padding-block, #{$site-header-padding-block});
    --_site-header-justify-content: var(--site-header-justify-content, #{$site-header-justify-content-small-screen});

    background: var(--_site-header-background);
    padding-block: var(--_site-header-padding-block);

    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}