---
layout: layouts/base.vto
sort_by: order
---

<main>
    <section class="[ aboutus ] [ full-width-split-screen ] [ ]">
        <div class="[ aboutus__content ] [] [ flow ]">
            <h1>{{ about.title }}</h1>
            {{ about.body  |> md }}
        </div>
        <img src="{{ about.image }}" alt="{{about.title}}">
    </section>
    {{ include "partials/features.vto" }}
</main>


