---
layout: layouts/base.vto
---
<main>
    <section class="[ narrow ] [ content-grid ] [ region flow ]">
        <h1>{{ title }}</h1>
        <img class="bleed" src="{{ image }}" alt="">
        {{ content |> md }}
    </section>
</main>