@use "../abstracts" as *;

//
//
//


//
//
//

.auto-grid {
    --_placement: var(--placement, auto-fit);
    --_min-col-size: var(--min-col-size, 16rem);
    --_gap: var(--gap, 1rem);

    display: grid;
    grid-template-columns: repeat(var(--_placement), minmax(var(--_min-col-size), 1fr));
    gap: var(--_gap);
}


.auto-grid {
    &[data-rows="masonry"] {
        grid-template-rows: masonry;
        align-items: start;
    }
}