<footer class="site-footer region">
    <div class="site-footer__inner wrapper">
        <span>&copy; Copyrigth 2025 - {{ company.name }}</span>
    </div>
</footer>

<script defer src="/js/main.js"></script>

{{ if hasLightbox == true }}
<script defer src="/js/fslightbox.js"></script>
{{ /if }}

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>