@use "colors" as *;

// -----------------------------------------------------------------------------
// THEMING
// -----------------------------------------------------------------------------

$active-theme: $default;
$enable-media-prefers-dark-mode: false;

$page-max-width: 1280px;

$flex-group-gap: var(--space-s-l);
$grid-gap: var(--space-m);
$list-gap: var(--space-xs);

$region-space: 6.6vmax;

$focus-outline: 2px solid var(--primary-500);



// -----------------------------------------------------------------------------
// BODY
// -----------------------------------------------------------------------------

$body-foreground: var(--neutral-500);
$body-background: var(--background-color);
$body-font-family: var(--ff-sans);
$body-font-size: var(--fs-400);
$body-font-weight: var(--fw-regular);
$body-line-height: 1.618;



// -----------------------------------------------------------------------------
// HEADING(s)
// -----------------------------------------------------------------------------

$heading-foreground: var(--neutral-700);
$heading-font-family: var(--ff-serif);
$heading-font-size: inherit;
$heading-font-weight: var(--fw-semibold);
$heading-line-height: 1.1;



// -----------------------------------------------------------------------------
// ANCHOR
// -----------------------------------------------------------------------------

$link-foreground: var(--neutral-900);
$link-foreground-hover: var(--primary-600);
$link-foreground-active: var(--neutral-900);

$link-text-decoration: none;
$link-text-decoration-hover: underline;

$link-transition: 200ms ease-in-out;



// -----------------------------------------------------------------------------
// SITE-HEADER
// -----------------------------------------------------------------------------

$site-header-background: transparent;
$site-header-padding-block: var(--space-xs);

$site-header-justify-content-small-screen: center;
$site-header-justify-content-large-screen: space-between;



// -----------------------------------------------------------------------------
// SITE-NAVIGATION
// -----------------------------------------------------------------------------

$site-nav-list-gap: var(--space-3xs);

$site-nav-link-foreground: var(--primary-900);
$site-nav-link-foreground-hover: var(--primary-700);
$site-nav-link-foreground-active: var(--primary-800);

$site-nav-link-background: transparent;
$site-nav-link-background-hover: var(--primary-50);
$site-nav-link-background-active: var(--primary-100);

$site-nav-link-font-size: 1rem;
$site-nav-link-font-weight: inherit;
$site-nav-link-padding: var(--space-xs) var(--space-s);
$site-nav-link-line-height: 1.1;
$site-nav-link-border-radius: var(--space-3xs);


// -----------------------------------------------------------------------------
// Hamburger
// -----------------------------------------------------------------------------

$hamburger-bar-color: var(--primary-800);
$hamburger-bar-width: 24px;
$hamburger-bar-height: 4px;
$hamburger-bar-gap: 4px;

$hamburger-background: var(--primary-400);
$hamburger-padding: var(--space-xs);
$hamburger-animation-timing: 200ms ease-in-out;
$hamburger-border: none;
$hamburger-border-radius: 999rem;


// -----------------------------------------------------------------------------
// Button
// -----------------------------------------------------------------------------

$button-foreground: var(--neutral-50);
$button-foreground-hover: var(--neutral-50);

$button-background: var(--primary-800);
$button-background-hover: var(--primary-950);

$button-accent-foreground: var(--primary-900);
$button-accent-foreground-hover: $button-foreground-hover;

$button-accent-background: var(--primary-400);
$button-accent-background-hover: $button-background-hover;

$button-padding: 1rem 1.5rem;
$button-gap: .5em;

$button-border-width: 2px;
$button-border-style: solid;
$button-border-color: var(--_button-background);
$button-border-radius: .5rem;

$button-font-size: var(--fs-400);
$button-font-weight: var(--fw-medium);
$button-line-height: 1;

$button-box-shadow-hover: 0 4px 10px rgba(0, 0, 0, 0.2);



// -----------------------------------------------------------------------------
// Button
// -----------------------------------------------------------------------------

$card-foreground: inherit;
$card-background: white;
$card-padding: var(--space-m);
$card-flow: 1rem;
$card-border-radius: .3rem;
$card-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$card-shadow-hover: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);