@use "sass/abstracts" as *;

@forward "sass/base";
@forward "sass/compositions";
@forward "sass/utilities";
@forward "sass/blocks";


// -----------------------------------------------------------------------------
// Globals
// -----------------------------------------------------------------------------

h1, h2, h3 {
    --heading-font-weight: var(--fw-regular);
}

h1, .h1 {
    --heading-font-size: var(--fs-800);
}

h2, .h2 {
    --heading-font-size: var(--fs-700);
}

h3, .h3 {
    --heading-font-size: var(--fs-600);
}



// -----------------------------------------------------------------------------
// Utilities
// -----------------------------------------------------------------------------

.region {
    padding-block: var(--region-space, 3.3vmax);
}



// -----------------------------------------------------------------------------
// Exceptions
// -----------------------------------------------------------------------------

.site-nav__item .button {
    --button-font-size: #{$site-nav-link-font-size};
}

.main-with-aside > main {
    & > :is(p, li, blockquote) {
        max-width: 100%;
    }
}


.widget {
    padding: var(--space-m);

    & > :is(p):first-child {
        margin-block-start: 0;
    }
}


.company-info {
    margin-block-start: var(--space-s-l);

    .flex-group {
        align-items: center;
    }
}



// -----------------------------------------------------------------------------
// Branding
// -----------------------------------------------------------------------------

.brand {
    &__image {
        height: 4ex;
    }

    &__name {
        text-decoration: none;
    }
}


// -----------------------------------------------------------------------------
// Block title
// -----------------------------------------------------------------------------

.block {
    &__title {
        color: var(--primary-600);
        font-family: var(--ff-accent);
        font-size: var(--fs-400);
        font-weight: var(--fw-bold);
        letter-spacing: 0.15ch;
    }

    &__subtitle {
        --heading-foreground: var(--neutral-800);
        font-family: var(--ff-serif);
        margin-block-start: 0;
    }

    & + .grid {
        margin-block-start: var(--space-s-l);
    }
}



// -----------------------------------------------------------------------------
// Block title
// -----------------------------------------------------------------------------

.hero {
    position: relative;
    overflow: clip;
    width: 100%;

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 0;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.75);
        z-index: 1;
    }

    &__inner {
        --region-space: 12.12vmax;
        text-align: center;
        z-index: 2;
    }
}


.hero {
    .block__subtitle {
        --heading-foreground: white;
        --heading-font-size: var(--fs-800);
        --heading-font-weight: var(--fw-regular);
        --heading-line-height: 1.2;

        max-width: 35ch;
    }
}


// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

.services {
    --grid-gap: var(--space-s-l);
    .card {
        overflow: clip;
        display: grid;
        border: 1px solid var(--neutral-50);
        max-width: unset;
        transition: box-shadow 300ms ease-in-out;

        &__title {
            --heading-foreground: var(--neutral-800);
            --heading-font-size: var(--fs-500);
            --heading-font-weight: var(--fw-semibold);
            max-width: unset;
            margin-block-start: var(--space-s);
        }

        &--service {
            padding: 0;

            img {
                aspect-ratio: 16/9;
                object-fit: cover;
            }

            & > :not(img) {
                margin-inline: var(--space-m);

                &:last-child {
                    margin-block-end: var(--space-s);
                }
            }
        }

        .button {
            justify-self: start;
        }
    }
}

.service {

    &--single {
        --content-max-width: 75ch;

        :is(h1) {
            margin-top: 0;
        }

        :is(p) {
            max-width: unset;
        }
    }
}

.service__icon {
    display: flex;
    justify-self: center;
    height: 7ex;
    margin-block-end: var(--space-s-l);
}


.post-card {
    display: grid;
    gap: var();
    
}



// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

.about {
    &--content {
        --content-max-width: 65ch;
        & > :is(p) {
            max-width: unset;
        }
    }
}


//
//
//

.gallery {
    &__list {}

    &__item {
        position: relative;
        overflow: clip;
        border-radius: .5rem;
    }

    &__image {
        object-fit: cover;
        scale: 1;
        transition: scale 400ms ease-in-out;
    }
}

.gallery__item:hover .gallery__image {
    scale: 1.2
}



// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

.cta {
    .block__subtitle {
        --heading-foreground: var(--primary-950);
        --heading-font-weight: var(--fw-bold);
    }
}




// -----------------------------------------------------------------------------
// PAGE: About
// -----------------------------------------------------------------------------

.about {
    .grid {
        --grid-gap: var(--space-l-2xl);
        align-items: center;

        & > div > img {
            height: 32ex;
            margin-inline: auto;
        }
    }
}



.about_one,
.about_two,
.about_three,
.about_four {
    .grid {
        --grid-gap: var(--space-l-2xl);
        align-items: center;

        & > div > img {
            height: 48ex;
            margin-inline: auto;
        }

        @include mq(md) {
            &.is-reversed {
                & > :first-child {
                    order: 2;
                }
        
                & > :last-child {
                    order: 1;
                }
            }
        }
    }
}



// -----------------------------------------------------------------------------
// PAGINA: Offerte
// -----------------------------------------------------------------------------

.offerte {
    &--content {
        --content-max-width: 65ch;
    }
}


// -----------------------------------------------------------------------------
// PAGINA: Contact
// -----------------------------------------------------------------------------

.map {
    position: relative;
    overflow: clip;

    iframe {
        height: 40dvh;
    }
}

.social {
    ion-icon {
        font-size: 48px;
        color: var(--primary-600);

        &:hover {
            color: var(--primary-700);
        }
    }
}



//
//
//

.site-footer {
    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}


.mbm {
    text-align: center;
    padding-block: 0 #{$region-space};
}