{{ for service of services }}
<div class="[ service card ]">
    <div class="card__image bg-gradient-gold">
        <a href="{{ service.url |> url }}">
            <img src="{{ service.image }}" alt="" />
        </a>
    </div>
    <div class="card__content flow">
        <h3 class="fs-600 card__title"><a href="{{ service.url |> url }}">{{ service.title }}</a></h3>
        <p>{{ service.summery |> md |> substring(0, 100) }}</p>
    </div>
</div>  
{{ /for }}