@use "../abstracts" as *;

// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

[class*="text-"] {
    color: var(--foreground, inherit);
}

[class*="bg-"] {
    background: var(--background, inherit);
}

@each $color, $shade-map in $active-theme {
    @each $shade, $value in $shade-map {
        .text-#{$color}-#{$shade} {
            --foreground: var(--#{$color}-#{$shade}); //#{$value};
        }

        .bg-#{$color}-#{$shade} {
            --background: var(--#{$color}-#{$shade}); //#{$value};
        }
    }
}


@each $color, $shade-map in $extra-colors-map {
    @each $shade, $value in $shade-map {
        .text-#{$color}-#{$shade} {
            --foreground: var(--#{$color}-#{$shade}); //#{$value};
        }

        .bg-#{$color}-#{$shade} {
            --background: var(--#{$color}-#{$shade}); //#{$value};
        }
    }
}