---
layout: layouts/page.vto
---

<section class="[ offerte offerte--content ] [ full-width ] [ region ]">
    <div class="block">
        <span class="block__title">{{ section_offerte.block_title }}</span>
        <h2 class="block__subtitle">{{ section_offerte.title }}</h2>
    </div>
    {{ include "partials/forms/offerte.vto" }}
</section>