---
layout: layouts/page.vto
---

<article class="[ algemene-voorwaarden ] [ full-width ] [ region flow ]">
<div class="block">
    <span class="block__title">Onze voorwaarden</span>
    <h2 class="block__subtitle">{{ title }}</h2>
</div>
{{- content -}}
</article>