---
layout: layouts/base.vto
title: thanks
---
<section class="[ form text--center ] [ content-grid ] [ region | flow ]">
    <h1>Bedankt voor uw bericht</h1>
    <p>Uw bericht is verzonden, wij zullen zo snel mogelijk contact met u opnemen.</p>
    <span>
        Keer terug naar <a href="/">home</a>
    </span>
</section>
